# Ignore SQLite database
database.sqlite
*.sqlite
*.db

# Ignore ONLY huge or backup data
BigDataBackups/
notebook/data/
notebook/data/amazon_reviews_clean.csv

# Python cache
__pycache__/
*.pyc

# Envs
.env
*.venv
